//for columns input 
mixin textinput(size,description,idname,ty,pholder,pt)
    .container(class='form-group col-md-'+size)
        label(for='ex4')= description
        input.form-control(type=ty,pattern=pt ,name=idname,id=idname,placeholder=pholder, required='required')


 

