extends ../layout.jade

block head
  title My Event ...

block body
  p EventName = #{event.Ename}
  p Category = #{event.Category}
  p Detail = #{event.Detail}
  p Price = #{event.Price}
  p MaxSeat = #{event.MaxSeat}
  p Location = #{event.Location}
  p Exp = #{event.Exp}
  p Contact = #{event.Contact}

  -if(event.reservation.length==0){
    form(name="regis",method="post",action="/editevent")
        input(type='hidden', name='id',value=event._id)
        input(type='text', name='ename',value=event.Ename)
        input(type='text', name='category',value=event.Category)
        input(type='text', name='detail',value=event.Detail,placeholder='detail')
        input(type='text', name='price',value=event.Price)
        input(type='text', name='maxseat',value=event.MaxSeat)
        input(type='text', name='location',value=event.Location)
        input(type='text', name='exp',value=event.Exp)
        input(type='text', name='contact',value=event.Contact)
        button(type='submit') Update Profile
  -}