extends ../layout.jade

block head
  title My Event ...

block body
  p EventName = #{event.Ename}
  p Category = #{event.Category}
  p Detail = #{event.Detail}
  p Price = #{event.Price}
  p MaxSeat = #{event.MaxSeat}
  p Location = #{event.Location}
  p Exp = #{event.Exp}
  p Contact = #{event.Contact}