extends ../layout.jade

block head
  title My Event ...
  include ../mixins/table.jade 
    
block body
  .container(style="background-color:white; padding-bottom:30px;padding-top:20px")
      h3
        b My Event
        -if(event.reservation.length == 0){
          button#editbtn.btn.btn-white(onclick='toInput()')
            img.img-fluid(src='/images/edit.png', width='25')
        -}
        
      img(src=event.ImgLink)
      form(name="regis",method="post",action="/editevent")
        input(type='hidden', name='id',value=event._id)
        table.table
          +table1("EventName :",'text','ename',event.Ename,'name' )
          //- +table1("Category :",'text','category', event.Category )
          tr
            td(width="40%")
              b Category :
            td#tf #{event.Category}
            td#myInput(style='display: none;')
              label.sr-only.mr-2(for='inlineFormCustomSelectPref') Category            
              select.custom-select.mb-2.mr-sm-2(name='category')
                option(value='allcat') All catagories
                option(value='ComSci') Computer Science
                option(value='Finance') Finance
                option(value='Life') Life
                option(value='HomeEcon') House Economics
                option(value='Culture') Culture
                option(value='others') Others
          +table1("Detail :",'text','detail', event.Detail,'detail' )
          +table1("Price :",'text','price', event.Price,'' )
          +table1("Max Seat :",'text','maxseat', event.MaxSeat,'')
          +table1("Location:",'text','location', event.Location, '')
          +table1("Exp :",'text','exp', event.Exp,'' )
          +table1("Contact :",'text','contact', event.Contact,'' ) 
          button#savebtn.btn.btn-primary(type='submit', onclick='toSubmit()', style='display: none;') Save
         
      button.btn.btn-primary(type='submit') Boost
      a.btn.btn-primary.ml-4(role='button',href=`/attendeelist/${event._id}`) My Attendee
  .container(style="background-color:white; padding-bottom:30px; padding-top:20px")
    form(name="boost",method="post",action="/boost")
      //- input(type='hidden', name='id', value=event._id)
      
      //- p

    //- -if(event.reservation.length==0){
    //-   h3
    //-     b Edit Event
    //-   form(name="regis",method="post",action="/editevent")
    //-     input(type='hidden', name='id',value=event._id)
    //-     table.table
    //-       tr
    //-         td
    //-           label Event name :
    //-           input(type='text', name='ename',value=event.Ename,placeholder='name')
    //-         td
    //-           label Category :
    //-           input(type='text', name='category',value=event.Category)
    //-       tr
    //-         td
    //-           label Detail :
    //-           textarea.form-control(rows='5',type='text', name='detail',placeholder='detail') #{event.Detail}
    //-         td
    //-           label Lacation :
    //-           textarea.form-control(rows='5',type='text', name='location') #{event.Location}
    //-       tr
    //-         td
    //-           label Price :
    //-           input(type='text', name='price',value=event.Price)
    //-         td
    //-           label Max Seat :
    //-           input(type='text', name='maxseat',value=event.MaxSeat)
    //-       tr
    //-         td
    //-           label Exp :
    //-           input(type='text', name='exp',value=event.Exp)
    //-         td
    //-           label Contact :
    //-       tr
    //-         td 
    //-           label Image Link :  
    //-           input(type='text',name='link',value=event.ImgLink)
    //-     a.btn.btn-primary(role='button',href=`/attendeelist/${event._id}`) My Attendee
    //- -}