extends ../layout.jade

block head
  title My Profile

block body
  .container(style='margin-top:15vh')
      h1
          u Organizer's Profile
      .row
          #profilePic.col-lg-4.col-sm-6
              img(src=profile.ImgLink, width='250px' height='250px')
              form.d-flex.align-items-center(name='regis', method='post', action='/editeventorgpic')
                    input(type='text',name='link', pattern='(https?:\/\/.*\.(?:png|jpg|svg))',placeholder='Picture Link', required)
                    button.btn.btn-secondary(type='submit') Upload
          .col.lg-8.col-sm-6
              #profileInfo.row.bg-w                
                .col-md-12.d-flex.justify-content-between
                      p.h3 Profile
                      button#editbtn.btn.btn-white(onclick='toInput()')
                          img.img-fluid(src='/images/edit.png', width='25')
                hr.blackline
               
                form.row(name="regis",method="post",action="/editeventorgprofile")
                    #info.col-md-12.d-flex.align-items-start.flex-column.ml-4.mt-4(style="min-width: 30vw")
                        .row
                            b Name :
                            p#tf.ml-4 #{profile.Name}
                            input#myInput.form-control.mb-3(type='text',name='name', value=profile.Name, style='display: none;',required)
                        .row
                            b Telephone :
                            p#tf.ml-4 #{profile.Tel} 
                            input#myInput.form-control.mb-3(pattern="^(([0][0-9]{8,9}))$", minlength="9",maxlength="10",type='tel',name='tel', value=profile.Tel, style='display: none;',required)
                        .row
                            b Email :
                            p#tf.ml-4 #{profile.Email}
                            input#myInput.form-control.mb-3(type='email',name='email', value=profile.Email, style='display: none;',required)                
                        .row(style='margin-left:17vw')
                            button#cancelbtn.btn.btn-danger.mr-3(type='button', onclick='toCancel()', style='display: none;') Cancel 
                            button#savebtn.btn.btn-primary(type='submit', onsubmit='toSubmit()', style='display: none;') Save

