extends ../layout.jade

block head
  title My Reserved Event

block body
  .container(style="background-color:white;width:960px")
    p 
    h2(align='center') My reserved events
    p
    table.table
      thead(class="thead-dark")
        tr
          th Firstname
          th Lastname
          th Payment
          th Event Name
          th
      tbody
        -for(i in myevent){
          tr
            td #{myevent[i].Fname} 
            td #{myevent[i].Lname}
            td #{myevent[i].Payment}
            td #{ename[i]}
            td 
              a.btn.btn-primary.btn-sm(role='button' href=`/reservedetail/${myevent[i]._id}`) Reserve Detail
        -}
