extends ../layout.jade

block head
  title My Profile

block body
    .container
        h1
            u Attendee's Profile
        .row
            #profilePic.col-md-3.col-sm-12
                img(src=profile.ImgLink, width='250px')
                form.d-flex.align-items-center(name='updateprofilepic',method='post', action='/editattendeepic')
                    input(type='text',name='link',placeholder='Picture Link',required)
                    button.btn.btn-secondary(type='submit') Upload
            .col-md-8.col-sm-12
                #profileInfo.row.bg-w
                    .col.d-flex.justify-content-between
                        p.h3 Profile
                        button#editbtn.btn.btn-white(onclick='toInput()')
                            img.img-fluid(src='/images/edit.png', width='25')
                    .blackline
                    form#info.ml-5(name="updateprofile",method="post",action="/editattendeeprofile")
                            .row.mb-3                                                               
                                    b FirstName :
                                    p#tf.ml-4  #{profile.Fname}
                                    input#myInput.form-control(type='text',name='fname', value=profile.Fname, style='display: none;',required)                                   
                                    
                                    b LastName :
                                    p#tf.ml-4 #{profile.Lname} 
                                    input#myInput.form-control(type='text',name='lname', value=profile.Lname, style='display: none;',required)
                            .row.mb-3
                                b Telephone :
                                p#tf.ml-4 #{profile.Tel} 
                                input#myInput.form-control(onkeypress='isTel(event)', type='tel',name='tel', value=profile.Tel, style='display: none;',required)
                            .row.mb-3
                                b Email :
                                p#tf.ml-4 #{profile.Email}
                                input#myInput.form-control(type='email',name='email', value=profile.Email, style='display: none;',required)
                            .row.mb-3
                                b Birthday :
                                p#tf.ml-4 #{profile.DOB} 
                                input#myInput.form-control(type='text',name='dob', value=profile.DOB, style='display: none;',required)
                            .row.mb-3
                                b Gender :
                                p#tf.ml-4 #{profile.Gender}
                                //- input#myInput.form-control(type='text',name='gender', value=profile.Gender, style='display: none;',required)
                                .form-inline.ml-4#myInput(style='display: none')
                                    .custom-control.custom-radio.custom-control-inline
                                        input#customRadioInline1.custom-control-input(type='radio', name='gender' value='Male' checked='Male'==profile.Gender)
                                        label.custom-control-label(for='customRadioInline1') Male
                                    .custom-control.custom-radio.custom-control-inline.ml-2
                                        input#customRadioInline2.custom-control-input(type='radio', name='gender' value='Female' checked='Female'==profile.Gender)
                                        label.custom-control-label(for='customRadioInline2') Female 
                            .row.ml-auto
                                button#cancelbtn.btn.btn-danger.ml-auto.mr-3(type='button', onclick='toCancel()', style='display: none;') Cancel 
                                button#savebtn.btn.btn-primary(type='submit', onsubmit='toSubmit()', style='display: none;') Save
                                //- button#savebtn.btn.btn-primary(type='submit', onclick='toSubmit()', style='display: none;margin-left:40%;height:35px') Save
                #cardinfo.row.bg-w
                    .col.d-flex.justify-content-between
                        p.h3 Credit Card Information
                        button.btn.btn-white(type='submit', onclick='nwcard(1)')
                            img.img-fluid(src='/images/add.png', width='25')
                    .blackline
                    -  var i = 1;
                    each row in profile.Credit
                        -  if(i != 1){
                        .divider.mt-4
                        -  }
                        .d-flex.align-items-center.mt-2.ml-4
                            h1 #{i}
                            .vl.ml-4
                            .d-flex.flex-column(style='margin-left: 4vw;width: 25vw')
                                .row
                                    b Card Number :
                                    p.ml-4 #{row.CNO}
                                .row
                                    b Card Name :
                                    p.ml-4 #{row.CName}
                                .row
                                    b CVV :
                                    p.ml-4 #{row.CVV}
                                .row.d-flex.justify-content-between.ml-1
                                    .row
                                        b EXP :
                                        p.ml-4 #{row.EXP}
                                    form(name='delcard',method='post',action='/deletecard')
                                        input(type='hidden',name='id',value=row._id)
                                        button.btn.btn-danger(type='submit') Delete Card
                        - i+=1;
                // - card information
                // - add card
                #newcard.row.bg-w(style='display: none;')
                    .col.d-flex.justify-content-between(style='max-width: 40vw;')
                        p.h3 Add Card
                        button.btn.btn-white(type='submit', disabled='')
                            img(src='', width='25')
                    .blackline
                    .d-flex.align-items-center.mt-2.ml-4
                        h1
                        .vl.ml-4
                        form#myForm.d-flex.flex-column(name="addcard",method="post",action="/addcard",style='margin-left: 4vw')
                            .row
                                b Card Number :
                                input#ip.form-control.ml-4(onkeypress="isCardnumber(event)" type='text', name='cno', placeholder='Card Number' min='1000000000000' max='9999999999999' required)
                            .row
                                b Card Name :
                                input#ip.form-control.ml-4(onkeypress="" type='text', name='cname', placeholder='Card Name' required)
                            .row
                                b CVV :
                                input#ip.form-control.ml-4(onkeypress="isCvv(event)" type='text', name='cvv', placeholder='cvv' min="0" max="999" required)
                              
                            .row.d-flex
                                b EXP :
                                input#ip.form-control.ml-4(onkeypress="" type='month', name='exp', placeholder='exp'  required min='2017-01' max='2030-31' pattern="[0-9]{4}-[0-9]{2}")
                                button#addc.btn.btn-success(type='submit', style='margcin-left: 8vw', onsubmit='nward(2)',onclick='chCvv()') Add Card
                    // - add card
                                            
