extends ../layout.jade

block head
    title #{event.Ename}
    include ../mixins/textinput.jade
    include ../mixins/table.jade

block body
    .container.devent.d-column.mb-4
        .row
            .col-md-8.offset-md-2
                h2(align='center',class="text-danger") #{event.Ename}
        .row
            .col-md-8.offset-md-2
                img(src=event.ImgLink,width='700',class='center')
        .container.mt-4.col-md-10
            table.table.table-responsive-md
                +table("EventName :", event.Ename )
                +table("Category :", event.Category )
                +table("Detail :", event.Detail )
                +table("Price :", event.Price )
                +table("MaxSeat :", event.MaxSeat )
                +table("Location :", event.Location )
                +table("Exp :", event.Exp )
                +table("Contact :", event.Contact )               
        -if (currentUser!=null) {
            -var now = new Date()
            -if (currentUser.type=='attendee'){
                -if (new Date()<event.Exp){
                    form#formAddUser.col-md-8.offset-md-2(name="adduser",method="post",action="/reserve",class ="needs-validation")
                        .container(class='formcenter')                         
                            P Amount Seat
                            -var amseat = event.MaxSeat - event.reservation.length;        
                                    
                            -if(amseat > 0){ 
                            -   if(amseat >=1){
                            .form-check.form-check-inline
                                input#inlineRadio1.form-check-input(type='radio', name='amount', value=1,checked="checked")
                                label.form-check-label(for='inlineRadio1') 1
                            -   }
                            -   if(amseat >=2){    
                            .form-check.form-check-inline
                                input#inlineRadio2.form-check-input.custom-radio-input(type='radio', name='amount', value=2)
                                label.form-check-label(for='inlineRadio2') 2
                            -   }         
                            -}else{
                            P.ml-4 No seat to reserve  
                            -}
                            h4(class='text-primary') Personal Information
                            .form-row
                                //- +textinput('6','First Name','fname','text','First Name')
                                .container(class='form-group col-md-6')
                                    label(for='ex4') First Name
                                    input.form-control(type='text',name='fname',id='fname',placeholder='First Name', pattern='[A-Za-zก-ฮฯ-๐]*', required)
                                //- +textinput('6','Last Name','lname','text','Last Name')
                                .container(class='form-group col-md-6')
                                    label(for='ex4') Last Name   
                                    input.form-control(type='text',name='lname',id='lname',placeholder='Last Name',pattern='[A-Za-zก-ฮฯ-๐]*', required)                                
                            .form-row
                                //- +textinput('12','Telephone','tel','tel','0xxxxxxxxx',"^(([0][0-9]{8,9}))$")
                                .container(class='form-group col-md-12')
                                    label(for='ex4') Telephone
                                    input.form-control(type='tel', pattern='^(([0][0-9]{8,9}))$',name='tel',id='tel',placeholder='0xxxxxxxxx',required)                                
                            .form-row
                                //- +textinput('12','Address','address','text','Address')
                                .container(class='form-group col-md-12')
                                    label(for='ex4') Address 
                                    input.form-control(type='text', name='address',id='address',placeholder='Address', required)                                
                        .container(class='formcenter')
                            h4(class='text-primary') Choose Payment Method   
                            .row 
                                .ml-4.col-3 Credit Card :
                                each row in credit
                                    .form-check.form-check-inline
                                        input#inlineRadio1.form-check-input(type='radio', name='payment', value="credit",required)
                                        label.form-check-label(for='inlineRadio1') #{row.CNO}           
                            .row
                                .ml-4.col-3 Bank Transfer :                          
                                .form-check.form-check-inline
                                    input#inlineRadio1.form-check-input(type='radio', name='payment', value="transfer",checked="checked",required)
                                    label.form-check-label(for='inlineRadio1') Bank Transfer       
                            .form-row
                                .col-md-3
                                    input(type="hidden", name='id',value=event._id)
                        .col-4.mt-4    
                            button.form-control.btn.btn-primary.submit-button(type='submit' onsubmit='return;') Submit
                            //- // Modal
                            //- #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                            //-     .modal-dialog(role='document')
                            //-         .modal-content
                            //-             .modal-body
                            //-                 h4(align='center',class="text-success") Reservation Successful!
                            //-                 h6(align='center',class='text-secondary') (please wait for redirecting...)
                -} else {
                    P(align='center') The reservation session is already over.
                -}
            -}
        -}
                                            
                        