//for columns input 
mixin textinput(size,description,idname,pholder)
    .container(class='form-group col-md-'+size)
        label(for='ex4')= description
        input.form-control(type='text',name=idname,id=idname,placeholder=pholder,required='')
        .invalid-feedback
              .p='Please fill ' + description
 

